fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
python-dotenv
paper-qa>=5
supabase
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles
pinecone>=3.0.0
openai
pypdf2
tiktoken
requests
storage3
Pillow
langchain-core
langchain-openai